<!doctype html>
<html>
<head>
	<title>My Profile</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark red lighten-1 mb-4">
<a href="appHistory" class="fa fa-angle-left fa-3x" style="color: #ffffff"></a>
 <a class="navbar-brand mx-auto" href="#">My Profile</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23"
        aria-expanded="false" aria-label="Toggle navigation"><div class="animated-icon3"><span></span><span></span><span></span><span></span></div></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent23">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profile">My Profile</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="bookmarks">Bookmarks</a>
	    </li> -->
            <li class="nav-item active">
                <a class="nav-link" href="appHistory">Application History<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Log In</a>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Grid column -->
   
    <!-- Grid column -->
    <!-- Collapsible content -->
  
</nav>
<div class="row">
 <div class="col-xl-5 col-md-4 mb-3 text-center">

        <img src="https://mdbootstrap.com/img/Photos/Avatars/img(30).jpg" class="img-fluid z-depth-1 rounded-circle" alt="Responsive image">

 </div>
 <div class="col-xl-2 col-md-8 mb-3 text-center" style="margin-top: 50px;">
        <h2>Jane Doe</h2>
        <button type="button" class="btn btn-outline-danger waves-effect btn-sm">Upload Resume</button>
 </div>

</div>
<div class="profileContainer">
<form action="#">
	<div class="form-group">
		<label for="firstname">First Name</label>
		<input type="text" name="firstname" id="firstname"></input>
	</div>
	<div class="form-group">
		<label for="lastname">Last Name</label>
		<input type="text" name="lastname" id="lastname"></input>
	</div>
	<div class="form-group">
		<label for="address">Address</label>
		<input type="text" name="address" id="address"></input>
	</div>
	<div class="form-group">
		<label for="phone">Phone Number</labe>
		<input type="tel" name="phone" id="phone"></input>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" name="email" id="email"></input>
	</div>
	<div class="form-group">
		<label for="gradDate">Graduation Date</label>
		<input type="date" name="gradDate" id="gradDate"></input>
	</div>
	<div class="form-group">
		<label for="uni">University</label>
		<input type="text" name="uni" id="uni"></input>
	</div>
	<div class="form-group">
		<label for="degree">Degree</label>
		<input type="text" name="degree" id="degree"></input>
	</div>
	<input type="submit" value="Submit"></input>
</form>
</div>
</div>

<!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
</body>
</html>
